body{
    padding: 0px;
    margin: 0px;
    background-color:#B6B6B6;
}

.center{
    width: 900px;
    margin: 0px auto;
    margin-top: 30px;
}

header{
    background-color: #CDDC39;
    color:white;
    border-radius: 20px;
}

header nav{
    background-color:#03A9F4;
    color:white;
    border-radius:20px;
    padding-top:20px;
    padding-bottom:20px;
    margin-top:20px;
}

header h1, header p{
    text-align:center;
} 
.menu{
    text-transform: uppercase;
    float: left;
    margin-top: -10px;
    margin-bottom: 35px;
}

.menu ul, .menu li{
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.menu ul{
    overflow: hidden;
}
.menu li{
    float: left;
    margin-right: 30px;
}

.menu a{
    text-decoration: none;
    color: #CDDC39;
}

span{
    color: white;
}

#formUpdateCliente, #formInsertCliente{
    margin-top: 10%;
    text-align:center;
}

#formUpdateCliente span, #formInsertCliente span{
    text-align:left;
    color: black;
}

#btnInsertCliente ,#btnSelectCliente{
    background-color: #CDDC39;
    border-radius: 5px;
    color: white;
    padding: 8px;
    text-decoration:none;
}
#btnInsertCliente:hover, #btnSelectCliente:hover{
    background-color: #03A9F4;
}

.ud{
    text-decoration:none;
    color:black;
}

.ud:hover{
    color: #CDDC39;
}

.tbl{
    border-radius:20px;
}

#btnInsertVenta, #btnInsertarCliente, #btnActualizarCliente{
    background-color: #03A9F4;
    color:white;
    padding:8px;
    border-style:none;
    border-radius:5px;
    font-size:20px;
    margin-top:20px;
}

#btnInsertVenta:hover, #btnInsertarCliente:hover, #btnActualizarCliente:hover{
    background-color: #CDDC39;
}

form h1{
    font-size:40px;
    color: #CDDC39;
}